doctype html
html
	head
		title |||| Web Portal of Bernard John Bolter IV ||||
		link(rel='stylesheet', href='./css/style.css')
	body
		include portal.jade 
		script(type='text/javascript', src='./js/bundle.js')