section.portal
	span.portal__lead THE
		span.portal__lead--light WEB
		span.portal__lead--lighter PORTAL
	span.portal__aka OF
	span.portal__name BERNARD
		span.portal__name--dark JOHN
		span.portal__name--darker BOLTER
		span.portal__name--darkest IV
	span.portal__aka AKA
	span.portal__traveler  
		a(href='http://digitalcityseries.com', target='_blank') THE
			span.portal__traveler_dark TRAVELER 
	span.portal__aka  AKA
	span.portal__colorist  
		a(href='http://acolorfulhistory.com', target='_blank') THE HISTORICAL COLORIST
	span.portal__aka  AKA
	span.portal__pullup  
		a(href='http://pullupgallery.org') THE PULLUP MAN
	span.portal__aka  AKA
	span.portal__breakdon  
		a(href='') THE ART BREAKER
	span.portal__aka  AKA
	span.portal__cubist  
		a(href='http://smoothism.com') THE SMOOTHIST CUBIST